.menu{
    height:80px;
    background-color:floralwhite;
    text-align: center;
    color: red;
    font-size:65px;

}

.content{
    height: 520px;
   background-image:url('ab.jpg');
    background-color:white;
   background-repeat:no-repeat;
}
.footer{
    height:150px;
    background-color:floralwhite;
    text-align:center;
    font-size: 30px;
   
    color:green;
}
.button{
    background-color:white;
    border-radius:220%;
   
    color:rgb(120, 120, 160);
    text-align:center;
    font-size:30px;
}
.forms{
    color:rgb(73, 60, 247);
    font-size:40px;
    text-align: center;
}
.forms2{
    color:white;
    font-size:30px;
}
.b{
    background-color:lightskyblue;
    
    
}
.hello{
    width:45%;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
.bb{
    border-radius:50px;
    font-size:30px;
    color:blue;
    background-color:floralwhite;
}
.ff{
    background-color:skyblue;
    color:black;
    font-size:20px;
}
.p{
    font-size:30px;
}